/* Секция с деталями автомобиля */
.carDetails {
  padding-bottom: 60px;
  padding-top: 90px;
}

.carTitle {
  font-size: 36px;
  margin-bottom: 40px;
  font-family: 'Inter', sans-serif;
}

.carContent {
  display: flex;
  gap: 60px;
  align-items: center;
}

.carImageContainer {
  flex: 1;

  .carImage {
    width: 100%;
    max-width: 630px;
    height: auto;
  }
}

.carInfo {
  flex: 1;
}

.specs {
  margin-bottom: 40px;

  .specItem {
    margin-bottom: 18px;
    font-size: 18px;
    display: flex;

    .specLabel {
      font-weight: bold;
      margin-right: 10px;
    }
  }
}

.actions {
  display: flex;
  gap: 20px;
  margin-top: 30px;

  a {
    padding: 12px 30px;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    transition: all 0.3s ease;
    border: 1px solid #ffffff;
    color: #ffffff;

    &:hover {
      background-color: #ffffff;
      color: #141414;
    }
  }
}

/* Секция с тарифами */
.pricing {
  padding-top: 40px;
  padding-bottom: 90px;

  .sectionTitle {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: bold;
  }
}

.pricingTable {
  overflow-x: auto;
  margin: 0 auto;
  max-width: 800px;
}

.ratesTable {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #2B2D32;
  border: 1px solid #ffffff;

  
  .tableHeader {
    padding: 15px;
    text-align: center;
    font-weight: bold;

    &:first-child {
      border-right: 1px solid #ffffff; /* Белая линия между заголовками */
    }
  }

  .tableRow {
    border: 1px solid #ffffff;
  }

  .tableCell {
    padding: 15px;
    text-align: center;
    color: #ffffff;

    &:first-child {
      border-right: 1px solid #ffffff; /* Белая линия между заголовками */
    }
  }
}

/* Секция бронирования */
#booking {
  background-image: url('../../assets/img/фон3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.bookingForm {
  padding: 40px 0;

  .sectionTitle {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: bold;
  }

  form {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
  }

  .formGroup {
    margin-bottom: 20px;
  }

  .formRow {
    display: flex;
    gap: 20px;

    .formInput {
      width: 260px;

    }
  }

  .formLabel {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #a1a1a1;
  }

  .formInput {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    transition: border 0.2s;
  }

  .submitButton {
    width: 100%;
    padding: 15px 30px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background: none;
    border-radius: 1px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #ffffff;
      color: #141414;
    }
  }
}