.header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 100;
    padding: 20px 0;
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  .logo {
    height: 20px;
    width: auto;
  }
  
  .desktopLinks {
    ul {
      display: flex;
      list-style: none;
      
      li {
        margin-left: 40px;
        
        a {
          color: white;
          font-size: 18px;
          transition: font-weight 0.3s;
          transform: translateZ(0);
          
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }