.footer {
    background-color: #141414;
    padding: 40px 0 30px;
    border-top: 1px solid #ffffff;
  
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  
  .logotip {
    img {
      max-width: 200px;
      height: auto;
      filter: brightness(0) invert(1); // Делаем лого белым
    }
  }  
